<!-- *** formulario de carga a BD ***
<div class="card mt-5">
    <div class="card-body">
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
            <div class="form-group">
                <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="productService.selectedProduct.name" placeholder="Nombre producto">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="location" #location="ngModel" [(ngModel)]="productService.selectedProduct.location" placeholder="localizacion producto">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="unds" #unds="ngModel" [(ngModel)]="productService.selectedProduct.unds" placeholder="unds de producto">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="price" #price="ngModel" [(ngModel)]="productService.selectedProduct.price" placeholder="precio producto">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="small material-icons ">add_circle_outline</i>
                    Agregar Producto
                </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
                    <i class="small material-icons">autorenew</i>
                    Reset
                </button>
            </div>
        </form>
    </div>
</div>
-->

<!-- Tarjeta ue va a aprecer a hacer clic en ver mas   **** 0j0
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
-->