<!-- Acceso a plataforma -->
<div class="row">
    <div class="container-fluid row">
        <div class=" d-flex justify-content-center align-items-center col-12">
            <form (ngSubmit)="onSubmitLogin()">
                <h2>Inicio de Sesion</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="email" id="email" aria-describedby="emailHelp" placeholder="Ingrese su email" />
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="password" id="password" placeholder="Contraseña" />
                </div>
                <button type="submit" (onclick)="onSubmitLogin">Iniciar Sesion</button>
            </form>
        </div>
    </div>
</div>