.container-fluid {
    background-image: url("../../../assets/login-fondo.jpg");
    min-height: 720px;
}

input {
    height: 25px;
}

.btn,
input {
    border-radius: 25px;
}

form {
    color: whitesmoke;
}