<!-- modulos de Productos (Creacion y visualizacion) -->
<!-- *** lista de articulos ***
<div class="card mt-5">
    <div class="card-body">
        <h6 class="text-center">Lista de Productos</h6>
    </div>
    <table class="table table-sm table-hover">
        <tbody>
            <tr *ngFor="let product of productList">
                <td>{{product.name}}</td>
                <td>{{product.location}}</td>
                <td>{{product.unds}}</td>
                <td>{{product.price}}</td>
                <td>
                    <a class="btn btn-secondary text-white" (click)="onEdit(product)">
                        <i class="small material-icons">edit</i></a>
                    <a class="btn btn-danger text-white" (click)="onDelete(product.$key)">
                        <i class="small material-icons">delete_forever</i></a>

                </td>
            </tr>
        </tbody>
    </table>
</div>


-->

<div class="jumbotrom pre-scrollable row col flex-row justify-content-center">
    <h1 class="display-5 col-7">Catalogo de Productos</h1>
    <form class="form-inline col-5 mr-0">
        <input class="form-control mr-sm-2" type="search" placeholder="¿Que estas buscando?" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <div class="card" *ngFor="let product of productList" style="width: 12rem;">
        <img src="{{product.location}}" class="card-img-top img-fluid" alt="{{product.name}}">
        <div class="card-body">
            <h6 class="card-title ">{{product.name}}</h6>
            <p class="card-text ">Unds: {{product.unds}}<br>Precio: ${{product.price}}</p>

            <a class="btn-sm btn-primary" href="#modal2" data-toggle="modal" data-target="#modal2">Ver +</a>

            <a href="#" class="btn-sm  btn-success">Añadir</a>
            <select class="custom-select-sm m-1">
                <option selected>unds</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
        </div>
        <!---   ***   Modal 2   ***   --->
        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detalle del producto:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{product.location}}" class="card-img" alt="{{product.name}}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.name}}</h5>
                                        <p class="card-text">Unidades disponibles: {{product.unds}}<br>Precio por unidad: ${{product.price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>